.login-card {
    width: 500px;
    height: 700px;
    background-color: #FFFFFF;
    border-radius: 40px;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.login-header {
    p {
        color: #C48E1A;
    }

    .login-header-img {
        margin-top: 0.2rem;
    }

    .login-header-text {
        margin: 8px 0;
    }
}